* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container {
    align-items: center;
    border: 1px solid;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

content {
    align-items: center;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 500px;
    max-height: 100%;
    overflow: hidden;
    width: 500px;
    position: relative;
}

content #mobile-answer {
    opacity:0;
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 90px;
}

content #reset-button {
    all: unset;
    align-self: flex-start;
    background-color: #008CBA;
    cursor: pointer;
    position: relative;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    font-size: 28px;
}

content #reset-button:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

content #reset-button:active {
    background-color: #54f;
    transition: 0.2s;
}

content span {
    align-self: flex-end;
    font-size: 40px;
    white-space: nowrap;
}

.good {
    color: #0F0;
}

.bad {
    color: #F00;
}
